.row{
    background-color: rgb(42, 160, 111);
    width:800px;
    margin: auto;
    margin-top: 15%;
    padding: 20px 0;
    color: white; 
    border-radius:10px; 
    background-image:linear-gradient(rgb(42, 160, 111), rgb(42, 200, 11), green, forestgreen )
}



form{
    margin: auto;
    width:180px;
}


